/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://wallpaperplay.com/walls/full/6/7/0/332406.jpg");
    background-repeat: no-repeat;
    background-color: black;
}